.fundoPerfil {
  background-image: url("https://ik.imagekit.io/gabrielsouza77/ilustracao-de-fisioterapia-esportiva.png?updatedAt=1752213621743");
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center;
}
